html, body{
    overflow-x: hidden;
}

#contact_modal {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 270%;
    background-color: rgba(196, 196, 196, 0.4);
    z-index: 2;
}

/* Header du photographe */

#photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: auto 100px;
    display: flex;
    justify-content: space-between;
    width: 87%;
}

.photographer-profile{
    margin-top: 71px;
    margin-left: -10em;
    margin-bottom: 42px;
    margin-right: 34em;
}

.photographer-profile h1{
    font-size: 64px;
    color: #D3573C;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.photographer-location{
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photographer-tagline{
    font-size: 18px;
    color: #525252;
    margin-top: 19px;
}

.user-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 50px;
    margin-top: 56px;
    margin-bottom: 57px;
}

/* Filter navbar */

#filter-bar{
    display: flex;
    margin-left: 97px;
    margin-top: 9px;
    height: 180px;
    z-index: 2;
}

.filter-title{
    font-size: 18px;
    font-weight: 700;
}

.select-box{
    margin-left: 1em;
    background-color: #901C1C;
    color: #FFFFFF;
    width: 170px;
    height: 69px;
    border-radius: 5px;
    z-index: 2;
}

.select-box .options-container{
    background: #901C1C;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    order: 1;
}

.selected {
    border-radius: 8px;
    margin-bottom: 0px;
    color: #f5f6fa;
    position: relative;
    height: 69px;
    margin-left: 1em;
    margin-top: 1.3em;
    font-size: 18px;
    
    order: 0;
}

.selected::after {
    content: "";
    background: url("../assets/icons/filter-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 15px;
    width: 16px;
    right: 10px;
    top: 7px;
    /* height: 69px; */
    transform: rotate(180deg);
    /* transition: all 0.4s; */
  }

  .select-box .options-container.active {
    max-height: 180px;
    opacity: 1;
    overflow-y: hidden;
    border-radius: 5px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(0deg);
    top: -170px;
    display: block;
    left: 64em;
    /* left: -57em; */
  }


  .select-box option,
  .selected {
    padding: 0;
    cursor: pointer;
  }

  .select-box .options-container.active + .selected{
     left: -57em;
  }

  .option{
      width: 100%;
      height: 40px;
      border: none;
      background-color: #901C1C;
      font-size: 18px;
      margin-top: 1em;
      margin-left: 1em;
      cursor: pointer;
  }
  
  .option input{
      width: 100%;
      height: 40px;
      border: none;
      background-color: #901C1C;
      color: #FFFFFF;
      margin-left: 0em;
      font-size: 18px;
      text-align: left;
      margin-top: -0.4em;
      cursor: pointer;
      z-index: 2;
  }

  .options-container.active span{
      width: 150px;
      height: 1px;
      background: #FFFFFF;
  }

  .options-container.active .line1{
    position: absolute;
    left: 12em;
    top: 28.5em;
  }

  .options-container.active .line2{
    position: absolute;
    left: 12em;
    top: 32.2em;
  }
  
  .select-box option{
    display: block;
  }

  .select-box .option .button {
    display: none;
  }
  

/* Medias du photographe */

#photographer_image{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -69px 52.5px;
}

.photographer-media{
    margin: 30px 47.5px;
    display: flex;
    flex-direction: column-reverse;
}

.thumb-img, .thumb-vid{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
    align-items: baseline;
}

.img-title{
    width: 65%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.numb-likes{
    font-weight: 500;
    font-size: 1em;
}

.div-like{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.btn-like{
    border: none;
    background: transparent;
    cursor: pointer;
    color: #901C1C;
    align-items: baseline;
}

.fa-heart{
    font-size: 1.5em;
}

/* Totaux */

.totaux{
    display: flex;
    justify-content: space-around;
    background-color: #DB8876;
    width: 376px;
    height: 89px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    z-index: 10;
    position: fixed;
    top: 31.3em;
    left: 42em;
}

.likes-recap{
    display: flex;
    align-items: baseline;
}

.heart-tot{
    font-size: 0.8em;
    margin-left: 0.2em;
}

/* Formullaire de contact */

#contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 6em;
    left: 28em;
}

.contact_button:hover{
    background-color: #DB8876;
    color: #000000;
}

#send{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 32em;
    margin-left: -30.7em;
    position: absolute;
    left: 650px;
    top: 250px;
}

.modal {
    position: absolute;
    top: 5em;
    left: 25em;
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    height: 930px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin-top: 2em;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 6em;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
}

form textarea{
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    height: 170px;
}



/* LighBox */

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    z-index: 10;
    overflow: hidden;
}


#next-btn, #previous-btn{
    fill: black;
    border: none;
    background: url('../assets/icons/arrow.svg') center center / 32px 32px no-repeat transparent;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 11em;
    margin-top: -14px;
    z-index: 11;
}

#previous-btn{
    left: 10em;
    transform: rotate(180deg);
}

#close-btn{
    width: 42px;
    height: 42px;
    border: none;
    background: url('../assets/icons/close.svg') center center / 32px 32px no-repeat transparent;
    position: absolute;
    top: 3em;
    right: 11em;
    z-index: 12;
}

.lightbox button{
    opacity: .5;
    cursor: pointer;
}

.lightbox-container{
    width: 1253px;
    height: 984px;
}

.img-container{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
    width: 92%;
    margin-top: 2em;
}

.image-full-screen, .video-full-screen{
    max-width: 1050px;
    max-height: 90vh;
    object-fit: contain;
    border-radius: 5px;
    margin-left: 9em;
}

.lgtb-img-title{
    font-size: 24px;
    color: #901C1C;
    margin-left: 6em;
    margin-top: 0.5em;
}

