html, body{
    overflow-x: hidden;
}

#contact_modal {
    display: none;
}

#photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: auto 100px;
    display: flex;
    justify-content: space-between;
    width: 87%;
}

.photographer-profile{
    margin-top: 71px;
    margin-left: 50px;
    margin-bottom: 42px;
}

.photographer-profile h1{
    font-size: 64px;
    color: #D3573C;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

.photographer-location{
    font-size: 24px;
    color: #901C1C;
    margin: 0;
}

.photographer-tagline{
    font-size: 18px;
    color: #525252;
    margin-top: 19px;
}

.user-img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    margin-right: 50px;
    margin-top: 56px;
    margin-bottom: 57px;
}

#photographer_image{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 71px 52.5px;
}

.photographer-media{
    margin: 30px 47.5px;
    display: flex;
    flex-direction: column-reverse;
}

.thumb-img, .thumb-vid{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}

.media-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #901C1C;
    font-weight: 400;
}

.numb-likes{
    font-weight: 500;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 650px;
    top: 250px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#lightbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    z-index: 10;
    overflow: auto;
}


#next-btn, #previous-btn{
    fill: black;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.360108 5.64L18.6801 24L0.360107 42.36L6.00011 48L30.0001 24L6.00011 3.88195e-06L0.360108 5.64Z"/></svg>');
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
    /* text-indent: -3000; */
}

#previous-btn{
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

#close-btn{
    width: 42px;
    height: 42px;
    border: none;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M42 4.23L37.77 0L21 16.77L4.23 0L0 4.23L16.77 21L0 37.77L4.23 42L21 25.23L37.77 42L42 37.77L25.23 21L42 4.23Z" fill="black"/></svg>') center center / 42px 42px no-repeat transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 12;
}

.lightbox button{
    opacity: .5;
    cursor: pointer;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.media-full-screen{
    width: 80%;
    height: fit-content;
    background-repeat: no-repeat;
}